<!DOCTYPE html>
<html>

<head>
<meta charset="UTF-8">
<meta name="description" content="Anime Recommendations">
<meta name="author" content="Tonia Langley">

<title>About Me - Anination</title>
<link href="style.css" rel="stylesheet" type="text/css" />
</head>

<body>
<div id="wrapper">

<div id="header">
<a href="index.html">
<img src="images/reborn.png" alt="Return Home" class="right" />
</a>

 <h1> Anination </h1>
 </div>
 
<div id="nav">
 <a href = "index.html"> Home</a> | <a href = "aboutme.html"> About Me</a> | <a href = "genre.html"> Genre</a> | <a href = "ranking.html"> Ranking</a> | <a href = "contact.html"> Contact </a> 
</div>

 <div id="main">
<h2> About Me </h2>

<p>Hello!</p>
<p>I am the creator of this website! This started out as just a hobby and a way to share some of my recommendations for anime to others. Now it has become a great success because of all the subscribers, pollers, and guests like you! So feel free to browse around the site or get to know me a little bit better down below.</p>
<h4>I am a(n):</h4>
<ul>
<li>College Graduate</li>
<li>20 something</li>
<li>Anime Enthusiast</li>
<li>Gamer</li>
<li>Dreamer</li>
</ul>
</div>

<div id="footer">
© 2015 Tonia Langley. All rights reserved.
</div>
</div>
</body>

</html>