 <div id="main">
<h2> Adventure </h2>

<p>
	<a href="conan.html"> Case Closed </a>
</p>

<p>
	<a href="fushigiyuugi.html"> Fushigi Yuugi</a>
</p>

<p>
	<a href="ggundam.html"> Mobile Fighter G Gundam</a>
</p>

<p>
	<a href="nogamenolife.html"> No Game No Life</a>
</p>

</div>
