<!DOCTYPE html>
<html>

<head>
<meta charset="UTF-8">
<meta name="description" content="Anime Recommendations">
<meta name="keywords" content="anime, kids, bakugan">
<meta name="author" content="Tonia Langley">

<title>Bakugan Battle Brawlers- Anination</title>
<link href="style.css" rel="stylesheet" type="text/css" />
</head>

<body>
<div id="wrapper">

<div id="header">

<a href="index.html">
<img src="images/reborn.png" alt="Return Home" class="right" />
</a>

 <h1> Anination </h1>
 </div>

<div id="nav">
 <a href = "index.html"> Home</a> | <a href = "aboutme.html"> About Me</a> | <a href = "genre.html"> Genre</a> | <a href = "ranking.html"> Ranking</a> | <a href = "contact.html"> Contact </a>
</div>

 <div id="main">
<h2> Bakugan Battle Brawlers</h2>

<img src="images/bakugan.jpg" alt="Bakugan Battle Brawlers" class="left" />

<p class="center">Dan Kuso along with his friends, Shun, Runo, Marucho, Julie, Shun, and Alice, form the "Bakugan Battle Brawlers". They play a game Dan and Shun made up with mysterious cards that fell from the sky. However, the gang gets dragged into a fight to save both earth and the Bakugan's home world from the rogue bakugan, Naga.</p>
</div>

<!-- Another
Transfer student Kouichi Sakakibara is a little disturbed mainly because his class doesn't seem to be aware of fellow classmate, Mei Misaki's presence. -->

<div id="footer">
© 2015 Tonia Langley. All rights reserved.
</div>
</div>
</body>

</html>
