<!DOCTYPE html>
<html>

<head>
<meta charset="UTF-8">
<meta name="description" content="Anime Recommendations">
<meta name="keywords" content="anime, drama, clannad, clannad after story">
<meta name="author" content="Tonia Langley">

<title>Clannad - Anination</title>
<link href="style.css" rel="stylesheet" type="text/css" />
</head>

<body>
<div id="wrapper">

<div id="header">

<a href="index.html">
<img src="images/reborn.png" alt="Return Home" class="right" />
</a>

 <h1> Anination </h1>
 </div>
 
<div id="nav">
 <a href = "index.html"> Home</a> | <a href = "aboutme.html"> About Me</a> | <a href = "genre.html"> Genre</a> | <a href = "ranking.html"> Ranking</a> | <a href = "contact.html"> Contact </a> 
</div>

 <div id="main">
<h2> Clannad </h2>

<img src="images/clannad.jpg" alt="Clannad" class="left" />
<img src="images/afterstory.jpg" alt="Clannad After Story" class="right" />

<p>Tomoya Okazaki is a delinquet who thinks life has nothing exciting to offer. So, he skips school and plans to waste his high school days away. One day, he encounters Nagisa Furukawa while heading too school. She catches his attention and after brushing off her comment about them being friends, starts to notice her more and more at school. Eventually, he gives in, becomes her friend, and helps her achieve her goal of reviving the school's drama club. As he spends more and more time with Nagisa and friends, Tomoya realizes that maybe life has more to offer than he thought.</p>

<p><h3>After Story</h3></p>
<p>Directly following Tomoya's confession to Nagisa, they begin to grow closer. As they start their life together, obstacles and unforeseen happenings occur.</p>
</div>

<div id="footer">
© 2015 Tonia Langley. All rights reserved.
</div>
</div>
</body>

</html>