 <div id="main">
<h2> Comedy </h2>

<p>
	<a href="gto.html"> Great Teacher Onizuka</a>
</p>

<p>
	<a href="ouran.html"> Ouran High School Host Club</a>
</p>

<p>
	<a href="tenchi.html"> Tenchi Saga</a>
</p>

<p>
	<a href="toradora.html"> Toradora!</a>
</p>

</div>
