<div id="main">
  <h2> Contact </h2>

  <p>Want to contact me?</p>
  <p> Or want to sign up for the mailing list?</p>
  <p>Feel free to send any inquiries/requests to admin@anination.com.</p>
</div>
