<!DOCTYPE html>
<html>

<head>
<meta charset="UTF-8">
<meta name="description" content="Anime Recommendations">
<meta name="keywords" content="anime, psychological, death note">
<meta name="author" content="Tonia Langley">

<title>Death Note - Anination</title>
<link href="style.css" rel="stylesheet" type="text/css" />
</head>

<body>
<div id="wrapper">

<div id="header">

<a href="index.html">
<img src="images/reborn.png" alt="Return Home" class="right" />
</a>

 <h1> Anination </h1>
 </div>
 
<div id="nav">
 <a href = "index.html"> Home</a> | <a href = "aboutme.html"> About Me</a> | <a href = "genre.html"> Genre</a> | <a href = "ranking.html"> Ranking</a> | <a href = "contact.html"> Contact </a> 
</div>

 <div id="main">
<h2> Death Note </h2>

<img src="images/deathnote.jpg" alt="Death Note" class="left" />

<p class="center">Light Yagami is a 17 year old genius who cares nothing about the world around him. He has gotten tired of everything until he finds a notebook labeled "Death Note" one day. Upon reading the book, he finds that it has the ability to kill anyone's name that is entered into it. Thinking it is a joke, he stores it way; however, his curiosity gets the better of him and Light soon finds out that the book is real. With this new found knowledge, Light begins his quest to conquer the world and become the god of the world.</p>
</div>

<div id="footer">
© 2015 Tonia Langley. All rights reserved.
</div>
</div>
</body>

</html>