 <div id="main">
<h2> Drama </h2>

<p>
	<a href="/anime/clannad"> Clannad</a>
</p>

<p>
	<a href="schooldays.html"> School Days</a>
	</p>

<p>
	<a href="suzuka.html"> Suzuka</a>
	</p>

<p>
	<a href="vampireknight.html"> Vampire Knight</a>
	</p>
</div>
