

 <div id="main">
<h2> Action </h2>


<p>
	<a href="bleach.html"> Bleach</a>
</p>

<p>
	<a href="naruto.html"> Naruto</a>
</p>

<p>
	<a href="trigun.html"> Trigun</a>
</p>

<p>
	<a href="yuyu.html"> Yu Yu Hakusho</a>
</p>

</div>
