{{#each anime as |ani| }}

<h2><a href="/anime/{{ani.genre}}/{{ani.name}}">{{ani.genre}}</a></h2>
<!-- <img src="{{ani.img}}"  /> -->
{{/each}}

 <!-- <div id="main">
<h2> Genre </h2>

<p> View the different types of anime below. </p>

<table border="1">
<tr class="rows">

	<td>
		<a href="/anime/action">
			<img src="images/action.jpg" alt="Action Genre" />
				<p class="space">Action</p>
		</a>
	</td>

	<td>
		<a href="drama.html">
			<img src="images/drama.jpg" alt="Drama Genre"  />
				<p class="space">Drama</p>
		</a>
	</td>

	<td>
		<a href="comedy.html">
			<img src="images/comedy.jpg" alt="Comedy Genre" />
				Comedy
		</a>
	</td>

</tr>

<tr class="rows">
	<td>
		<a href="horror.html">
			<img src="images/horror.jpg" alt="Psychological/Horror Genre" />
				Psychological/Horror
		</a>
	</td>

	<td>
		<a href="adventure.html">
			<img src="images/adventure.jpg" alt="Adventure Genre" />
				Adventure
		</a>
	</td>

	<td>
		<a href="kids.html">
			<img src="images/kids.jpg" alt="Kids Genre" />
				<p class="space">Kids</p>
		</a>
	</td>

	</tr>
</table>

</div> -->
