<!DOCTYPE html>
<html>

<head>
<meta charset="UTF-8">
<meta name="description" content="Anime Recommendations">
<meta name="keywords" content="anime, adventure, mobile fighter g gundam">
<meta name="author" content="Tonia Langley">

<title>Mobile Fighter G Gundam - Anination</title>
<link href="style.css" rel="stylesheet" type="text/css" />
</head>

<body>
<div id="wrapper">

<div id="header">

<a href="index.html">
<img src="images/reborn.png" alt="Return Home" class="right" />
</a>

 <h1> Anination </h1>
 </div>
 
<div id="nav">
 <a href = "index.html"> Home</a> | <a href = "aboutme.html"> About Me</a> | <a href = "genre.html"> Genre</a> | <a href = "ranking.html"> Ranking</a> | <a href = "contact.html"> Contact </a> 
</div>

 <div id="main">
<h2> Mobile Fighter G Gundam </h2>

<img src="images/ggundam.jpg" alt="Mobile Fighter G Gundam" class="left" />

<p class="center">Domon Kashuu has been selected to represent his nation, Neo-Japan, in a world where much of humanity lives in space colonies. The dominance of the colonies is determined by a tournament held once every four years. Colony representatives must use giant robots called gundams to fight in the tournament. While Domon's quest is for his country, he spends much of his time searching for his brother, who has been blamed for the deaths of their parents and the disappearance of a very dangerous weapon.</p>
</div>

<div id="footer">
© 2015 Tonia Langley. All rights reserved.
</div>
</div>
</body>

</html>