 <div id="main">
<h2> Psychological/Horror </h2>

<p>
	<a href="another.html"> Another </a>
</p>

<p>
	<a href="shingekinokyojin.html"> Attack on Titan</a>
</p>

<p>
	<a href="deathnote.html"> Death Note</a>
</p>

<p>
	<a href="steinsgate.html"> Steins; Gate</a>
</p>

</div>
