 <div id="main">
<h2> Kids </h2>

<p>
	<a href="bakugan.html"> Bakugan</a>
</p>

<p>
	<a href="ccsakura.html"> Cardcaptor Sakura</a>
</p>

<p>
	<a href="shamanking.html"> Shaman King</a>
</p>

<p>
	<a href="yugioh.html"> Yugioh! Duel Monsters</a>
</p>

</div>
