<!DOCTYPE html>
<html>

<head>

  <meta charset="UTF-8">
  <meta name="description" content="Anime Recommendations">
  <meta name="keywords" content="anime, rank, ranking">
  <meta name="author" content="Tonia Langley">
  <title>Anination</title>

  <link href="/assets/css/styles.css" rel="stylesheet" />
  <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.5.3/angular.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.5.3/angular-resource.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/angular-ui-router/0.2.18/angular-ui-router.min.js"></script>
  <script src="/assets/js/app.js"></script>
</head>

<body data-ng-app="anination">
  <div id="wrapper">

    <div id="header">

      <a data-ui-sref = "welcome">
        <img src="http://i.imgur.com/lcsPT4A.png" alt="Return Home" class="right" />
      </a>

      <h1> <a data-ui-sref = "welcome">Anination</a></h1>
    </div>

    <div id="nav">
      <a data-ui-sref = "welcome"> Home</a>
      <a data-ui-sref = "aboutme"> About Me</a>
      <!-- <a data-ui-sref = "/anime/genre"> Genre</a> -->
      <a data-ui-sref = "anime"> Anime</a>
      <a data-ui-sref = "contact"> Contact </a>
    </div>

    <main data-ui-view class="main"></main>

    <div id="footer">
      © 2015 Tonia Langley. All rights reserved.
    </div>
  </div>
</body>

</html>
