<!DOCTYPE html>
<html>

<head>
<meta charset="UTF-8">
<meta name="description" content="Anime Recommendations">
<meta name="author" content="Tonia Langley">

<title>Ranking - Anination</title>
<link href="style.css" rel="stylesheet" type="text/css" />
</head>

<body>
<div id="wrapper">

<div id="header">

<a href="index.html">
<img src="images/reborn.png" alt="Return Home" class="right" />
</a>

 <h1> Anination </h1>
 </div>
 
<div id="nav">
 <a href = "index.html"> Home</a> | <a href = "aboutme.html"> About Me</a> | <a href = "genre.html"> Genre</a> | <a href = "ranking.html"> Ranking</a> | <a href = "contact.html"> Contact </a> 
</div>

 <div id="main">
<h2> Ranking </h2>

<ol>
	<li><a href="clannad.html">Clannad</a></li>
	<li><a href="deathnote.html">Death Note</a></li>
	<li><a href="fushigiyuugi.html">Fushigi Yuugi</a></li>
	<li><a href="tenchi.html">Tenchi Saga</a></li>
	<li><a href="shingekinokyojin.html">Attack on Titan</a></li>
	<li><a href="naruto.html">Naruto</a></li>
	<li><a href="trigun.html">Trigun</a></li>
	<li><a href="gto.html">Great Teacher Onizuka</a></li>
	<li><a href="conan.html">Case Closed</a></li>
	<li><a href="ggundam.html">Mobile Suit Fighter G Gundam</a></li>
	<li><a href="steinsgate.html">Steins;Gate</a></li>
	<li><a href="yugioh.html">Yugioh! Duel Monsters</a></li>
	<li><a href="nogamenolife.html">No Game No Life</a></li>
	<li><a href="bleach.html">Bleach</a></li>
	<li><a href="schooldays.html">School Days</a></li>
	<li><a href="another.html">Another</a></li>
	<li><a href="suzuka.html">Suzuka</a></li>
	<li><a href="yuyu.html">Yu Yu Hakusho</a></li>
	<li><a href="ccsakura.html">Cardcaptor Sakura</a></li>
	<li><a href="toradora.html">Toradora!</a></li>
	<li><a href="ouran.html">Ouran High School Host Club</a></li>
	<li><a href="shamanking.html">Shaman King</a></li>
	<li><a href="bakugan.html">Bakugan</a></li>
	<li><a href="vampireknight.html">Vampire Knight</a></li>
</ol>
</div>

<div id="footer">
© 2015 Tonia Langley. All rights reserved.
</div>
</div>
</body>

</html>