<!DOCTYPE html>
<html>

<head>
<meta charset="UTF-8">
<meta name="description" content="Anime Recommendations">
<meta name="keywords" content="anime, horror, attack on titan">
<meta name="author" content="Tonia Langley">

<title>Attack on Titan - Anination</title>
<link href="style.css" rel="stylesheet" type="text/css" />
</head>

<body>
<div id="wrapper">

<div id="header">

<a href="index.html">
<img src="images/reborn.png" alt="Return Home" class="right" />
</a>

 <h1> Anination </h1>
 </div>
 
<div id="nav">
 <a href = "index.html"> Home</a> | <a href = "aboutme.html"> About Me</a> | <a href = "genre.html"> Genre</a> | <a href = "ranking.html"> Ranking</a> | <a href = "contact.html"> Contact </a> 
</div>

 <div id="main">
<h2> Attack on Titan </h2>

<img src="images/snk.jpg" alt="Attack on Titan" class="left" />

<p class="center">The walls protect the last of humanity from the titans, unintelligent giants who devour humans for fun. Eren Yaeger with his foster sister, Mikasa Ackerman, witness the unthinkable when a titan breeches the wall of their district. Many horrific acts follow including the duo watching their mother being eaten alive. "That Day" is when everything changed; Eren makes a pledge to eradicate the titans and avenge all the victims.</p>
</div>

<div id="footer">
© 2015 Tonia Langley. All rights reserved.
</div>
</div>
</body>

</html>