<!DOCTYPE html>
<html>

<head>
<meta charset="UTF-8">
<meta name="description" content="Anime Recommendations">
<meta name="keywords" content="anime, comedy, toradora">
<meta name="author" content="Tonia Langley">

<title>Toradora! - Anination</title>
<link href="style.css" rel="stylesheet" type="text/css" />
</head>

<body>
<div id="wrapper">

<div id="header">

<a href="index.html">
<img src="images/reborn.png" alt="Return Home" class="right" />
</a>

 <h1> Anination </h1>
 </div>
 
<div id="nav">
 <a href = "index.html"> Home</a> | <a href = "aboutme.html"> About Me</a> | <a href = "genre.html"> Genre</a> | <a href = "ranking.html"> Ranking</a> | <a href = "contact.html"> Contact </a> 
</div>

 <div id="main">
<h2> Toradora! </h2>

<img src="images/toradora.jpg" alt="Toradora!" class="left" />

<p class="center">Poor Ryuji Takasu is the nicest person ever but his eyes make others think he is a delinquent. Upon entering his 2nd year in school, he is placed in class with his best friend, Yusaku Kitamura, and secret crush, Minori Kushieda. However, Minori's best friend, Taiga Aisaka, is also in the class. Her appearance may be cute but she is nothing but brutal in personality. Ryuji gains Taiga's help with Minori in exchange that he helps her with her crush, Yusaku.</p>
</div>

<div id="footer">
© 2015 Tonia Langley. All rights reserved.
</div>
</div>
</body>

</html>