<!DOCTYPE html>
<html>

<head>
<meta charset="UTF-8">
<meta name="description" content="Anime Recommendations">
<meta name="keywords" content="anime, drama, vampire knight, vampire knight guilty">
<meta name="author" content="Tonia Langley">

<title>Vampire Knight - Anination</title>
<link href="style.css" rel="stylesheet" type="text/css" />
</head>

<body>
<div id="wrapper">

<div id="header">

<a href="index.html">
<img src="images/reborn.png" alt="Return Home" class="right" />
</a>

 <h1> Anination </h1>
 </div>
 
<div id="nav">
 <a href = "index.html"> Home</a> | <a href = "aboutme.html"> About Me</a> | <a href = "genre.html"> Genre</a> | <a href = "ranking.html"> Ranking</a> | <a href = "contact.html"> Contact </a> 
</div>

 <div id="main">
<h2> Vampire Knight </h2>

<img src="images/vk.jpg" alt="Vampire Knight" class="left" />
<img src="images/vkg.jpg" alt="Vampire Knight Gulity" class="right" />

<p>The elite Cross Academy provides two separate classes: the Day Class and the Night Class. Yuuki Cross and Zero Kiryuu, as prefects, serve to keep the order when the gorgeous students of the Night Class start their schooling. The Day Class students make this a tiring job; however, the job is not necessary because the Night Class students are vampires. Yuuki and Zero's real objective is to protect the Night Class' secret as well as ensure the safety of the Day Class. </p>
<p><h3>Guilty</h3></p>
<p>Zero is back! Yuuki is relieved, but is Zero really okay? Unbeknowst to her, he has been having strange visions since he drank Kaname's blood. Seeking to find the reason behind these visions, he goes to Maria Kurenai who gives him a vague answer as to who the real villian could be. Meanwhile, Zero is facing punishment from the Supreme Vampire Council for killing a pureblood.</p>
</div>

<div id="footer">
© 2015 Tonia Langley. All rights reserved.
</div>
</div>
</body>

</html>