a:link {
    text-decoration: none;
}

html, body {
    height: 100%;
}

body {
    background-color: #CC99CC;
    color: #FFFFFF;
}

#wrapper {
    height: 100%;
    width: 90%;
    padding: 0;
    margin: auto;
}

#header {
    padding: .5px 25px 0;
    margin: 0 32px;
    background-color: #FFFF4D;
    color: #660066;
    font-family: georgia, serif;
    font-size: 30px;
    font-weight: bold;
    border-bottom: solid 10px;
    border-left: solid thick;
    border-radius: 0 25px;
    /*height: 20%;*/
}

#nav {
    padding: 30px 20px;
    margin: 0 32px;
    /*height: 10%;*/
    color: #FFFF4D;
    background-color: #660066;
    border-top: solid 10px;
    border-left: solid thick;
    border-radius: 25px 0;
}

#nav a {
    color: #FFFF4D;
    font-family: georgia, serif;
    font-size: 17px;
    cursor: pointer;
    padding: 0 10px;
}

main {
    padding: 20px;
    margin: 0 auto;
    font-family: comic sans ms, san-serif;
    font-size: 17px;
    /*height: 50%;*/
    width: 80%;
}

#footer {
    padding: 1px 25px 0;
    margin: 10px 30px 0;
    font-family: georgia, serif;
    background-color: #FFFF4D;
    color: #660066;
    border-top: solid medium;
    border-left: solid medium;
    border-radius: 0 25px;
    clear: both;
    height: 5%;
}

ul {
    padding: 0 15px 10;
    margin: 0 30px;
}

h2 {
    color: #FFFFFF;
    font-family: georgia, serif;
    font-size: 35px;
    text-align: center;
}

table {
    text-align: center;
    color: #0066CC;
    height: 100px;
    border: none;
    /*border-radius: 5%;*/
    /*border-collapse: collapse;*/
}

td {
    padding: 10px;
    border-radius: 5%;
}

td a {
    color: #FFF;
}

td:hover {
    background-color: #660066;
}

.right {
    float: right;
    margin: 5px;
}

.center {
    padding-top: 5%;
}

.genreIndex img {
    width: 100%;
    border-radius: 5%;
}

.genreIndex h3, .genreShow h1 {
    margin: 0;
}

.genreShow .left {
    margin: 0 5% 5% 5%;
    width: 50%;
    border-radius: 5%;
}

.genreShow table td {
    width: 20%;
}

.genreShow table img {
    border-radius: 5%;
}

.genreShow div {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-bottom: solid 10px;
    border-radius: 2%;
    margin-bottom: 5%;
}
