<section class="genreShow">

    <div>
        <h2> {{showVM.genre.name}} </h2>
        <img src="{{showVM.genre.img}}" alt="{{showVM.genre.name}}" class="left" />
    </div>

    <table>
        <tr>

            <td data-ng-repeat="ani in showVM.genre.anime" ng-if="$even">
                <a data-ui-sref="anime-show(ani)">
                    <img src="{{ani.img}}" alt="{{ani.name}}" />
                    <h1>{{ani.name}}</h1>
                </a>
            </td>

        </tr>
        <tr>

            <td data-ng-repeat="ani in showVM.genre.anime" ng-if="$odd">
                <a data-ui-sref="anime-show(ani)">
                    <img src="{{ani.img}}" alt="{{ani.name}}" />
                    <h1>{{ani.name}}</h1>
                </a>
            </td>

        </tr>
    </table>
</section>
